$logo-width: 64px;
$header-height: 60px;
$menu-height: 50px;

$header-color: #282c34;
$header-background-color: #fff;

$activate-color: #e8f4ff;
$activate-background: #1890ff;

$logo-color: #282c34;
$logo-background: #fff;

$title-color: #282c34;
$title-background: #fff;
