@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    )
  )
);

$logo-width: 64px;
$header-height: 60px;
$menu-height: 50px;

$nav-color: #fff;
$nav-background: #282c34;



$z-layers: (
  "level_one": 1,
  "level_two": 10,
  "level_three": 100,
  "level_four": 1000,
  "level_zero": -1
);
