:root {
  --el-border-radius-base: 5px;

}

.el-card {
  --el-card-border-radius: 5px;
}

.el-overlay-dialog {
  @include scrollBar;
}

.el-table {
  --el-table-header-bg-color: #F2F2F2;
  --el-table-header-text-color: #rgb(48, 49, 51)
}